:root {
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);

  --bright-blue: oklch(51.01% 0.274 263.83);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);
  --gray-100: oklch(95.11% 0.006 301.97);
  --gray-50: oklch(98.93% 0.003 301.97);

  --color-text-light: var(--gray-900);
  --color-background-light: var(--gray-50);
  --color-background-primary-light: var(--gray-100);

  /* Brand colors */
  --color-primary-light: var(--electric-violet);
  --color-primary-hot-light: var(--french-violet);
  --color-secondary-light: var(--vivid-pink);

  /* otros colores secundarios */
  --color-accent-light: var(--bright-blue);
  --color-tertiary-light: var(--orange-red);
  --color-tertiary-hot-light: var(--hot-red);

  /* Dark Theme */
  --color-text-dark: var(--gray-100);
  --color-background-dark: var(--gray-700);
  --color-background-primary-dark: var(--gray-900);

  /* Brand colors */
  --color-primary-dark: var(--electric-violet);
  --color-primary-hot-dark: var(--french-violet);
  --color-secondary-dark: var(--vivid-pink);

  /* otros colores secundarios */
  --color-accent-dark: var(--bright-blue);
  --color-tertiary-dark: var(--orange-red);
  --color-tertiary-hot-dark: var(--hot-red);

  /* Apply theme variables */
  --color-text: light-dark(var(--color-text-light), var(--color-text-dark));
  --color-background: light-dark(var(--color-background-light), var(--color-background-dark));
  --color-background-primary: light-dark(
    var(--color-background-primary-light),
    var(--color-background-primary-dark)
  );
  --color-primary: light-dark(var(--color-primary-light), var(--color-primary-dark));
  --color-primary-hot: light-dark(var(--color-primary-hot-light), var(--color-primary-hot-dark));
  --color-secondary: light-dark(var(--color-secondary-light), var(--color-secondary-dark));
  --color-accent: light-dark(var(--color-accent-light), var(--color-accent-dark));
  --color-tertiary: light-dark(var(--color-tertiary-light), var(--color-tertiary-dark));
  --color-tertiary-hot: light-dark(var(--color-tertiary-hot-light), var(--color-tertiary-hot-dark));

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);
}

:root {
  --fontfamily:
    'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --font-family-heading:
    'Inter Tight', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100dvh;
  color-scheme: light dark;
}

html:has(#theme-toggle:checked) {
  color-scheme: dark;
}

html:has(#theme-toggle:indeterminate) {
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 560px;
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
}

p {
  margin: 0;
}
